.login-container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    border-radius: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.144), 0 -8px 8px rgba(0, 0, 0, 0.144), 8px 0 8px rgba(0, 0, 0, 0.233), -4px 0 8px rgba(0, 0, 0, 0.233);
    padding: 30px;
    width: 100%;
    max-width: 400px;
}

.login-logo img {
    width: 100px;
}

.btn-custom {
    background-color: #007bff;
    color: white;
}

.btn-custom:hover {
    background-color: #004a99;
    color: #ffffff;
}

.form-label {
    font-weight: bold;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.25);
}

.small-text {
    font-size: 0.875rem;
}